#site-heading
{
    text-align: center;
}

#main-site-thing
{
    display: grid;
    grid-template-rows: 1fr 5fr;
}

#app
{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

body
{
    background-color: rgb(10, 10, 10);
    color: rgb(220, 220, 220);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}